.functions {
	overflow: hidden;

	.s-container {
		position: relative;
	}

	&__title, &__text {
		@media (max-width: 1525px) {
			width: 100%;
		}
	}

	&__img {
		position: absolute;
		left: 614px;
		width: auto;
		height: auto;
		@media (max-width: 1525px) {
			max-width: 600px;
			max-height: 600px;
			object-fit: contain;
			position: initial;
		}
		@media (max-width: 1200px) {
			max-width: none;
			max-height: none;
			width: 100%;
			height: 100%;
			margin-bottom: 32px;
		}
		@media (max-width: 576px) {
			margin-bottom: 24px;
		}
	}

	&__row {
		display: flex;
		flex-direction: row;
		position: relative;
		min-height: 724px;
		@media (max-width: 1525px) {
			min-height: 700px;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			&::before {
				content: '';
				background-color: $blue_line;
				position: absolute;
				top: 0;
				width: 200%;
				height: 5px;
				right: -155px;
				left: auto;
			}
		}
		@media (max-width: 1200px) {
			flex-direction: column;
			padding-top: 60px;
			padding-bottom: 60px;
			min-height: auto;
		}
		@media (max-width: 576px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		&:nth-child(odd) {
			justify-content: flex-end;
			@media (max-width: 1525px) {
				flex-direction: row;
				justify-content: center;
			}
			@media (max-width: 1200px) {
				flex-direction: column;
			}

			.functions__img {
				right: 630px;
				left: auto;
			}

			.functions__info {
				max-width: 630px;
				padding-left: 45px;
				padding-right: 0;
				text-align: start;
				align-items: flex-start;
				@media (max-width: 1200px) {
					padding-left: 0;
					max-width: none;
				}

				&::before {
					left: 0;
					right: auto;
				}
			}
		}
	}

	&__row-height {
		.functions__info {
			min-height: 948px;
			padding-top: 60px;
			padding-bottom: 80px;
			justify-content: space-between;
			@media (max-width: 1525px) {
				justify-content: center;
				padding-top: 40px;
				padding-bottom: 60px;
			}
			@media (max-width: 1200px) {
				padding-top: 0;
				padding-bottom: 0;
				min-height: auto;
			}
			@media (max-width: 576px) {
				justify-content: space-evenly;
			}
		}
	}

	&__row-last {
		min-height: 680px;
		@media (max-width: 768px) {
			min-height: 550px;
			padding-bottom: 40px;
		}
	}

	&__row-padding-t-b {
		.functions__info {
			padding-top: 100px;
			padding-bottom: 200px;
			@media (max-width: 1525px) {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}

	&__info {
		text-align: end;
		align-items: flex-end;
		max-width: 614px;
		padding-right: 40px;
		padding-left: 0;
		width: 100%;
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: relative;
		gap: 16px;
		@media (max-width: 1525px) {
			justify-content: center;
		}
		@media (max-width: 1200px) {
			padding-right: 0;
			max-width: none;
			text-align: start;
			align-items: flex-start;
		}
		@media (max-width: 576px) {
			justify-content: space-evenly;
		}

		&::before {
			content: '';
			background-color: $blue_line;
			position: absolute;
			top: 0;
			width: 100vw;
			height: 5px;
			right: 0;
			left: auto;
			@media (max-width: 1525px) {
				content: none;
			}
		}

		.text-bold {
			max-width: 505px;
			@media (max-width: 1200px) {
				max-width: none;
			}
		}
	}
}